.u-section-1 .u-sheet-1 {
  min-height: 349px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 7px auto 0 469px;
}

.u-section-1 .u-form-1 {
  height: 203px;
  margin: 13px 296px 46px 274px;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 387px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 196px;
    margin-left: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 296px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 86px;
    margin-left: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 222px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 140px;
  }
}